{% extends 'base.html' %}

{% block title %}
    Вход
{% endblock %}

{% block body %}
    <h1>Авторизация на сайте</h1>
    {% if form.errors %}
        <p>Имя пользователя или пароль указаны неверно. Попробуйте заново</p>
    {% else %}
        <p>Используйте форму для входа</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
    </form>
    <a href="{% url 'myauth:password_reset' %}">Забыли пароль?</a>
{% endblock %}
