{% extends 'base.html' %}

{% block title %}
    Вход
{% endblock %}

{% block body %}
    <h1>Авторизация на сайте</h1>
    {% if form.errors %}
        <p>Имя пользователя или пароль указаны неверно. Попробуйте заново</p>
    {% else %}
        <p>Используйте форму для входа</p>
    {% endif %}

    <div>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Войти</button>
        </form>
    </div>

    <div>
        <a href="{% url 'myauth:password_reset' %}">Забыли пароль?</a>
    </div>

    <div>
        <a href="{% url 'myauth:register' %}">Ещё не зарегистрированы на сайте?</a>
    </div>

{% endblock %}
